__pycache__/gunicorn_config.cpython-312.pyc
billdb_flask_api/__pycache__/__init__.cpython-312.pyc
billdb_flask_api/__pycache__/app.cpython-312.pyc
billdb_flask_api/__pycache__/config.cpython-312.pyc
billdb_flask_api/__pycache__/flutter_app_routs.cpython-312.pyc
billdb_flask_api/__pycache__/utils.cpython-312.pyc
billdb_flask_api/__pycache__/web_routs.cpython-312.pyc
bills.db
billdb_flask_api/flask.log
